@page
@model WebApp.Pages_Games.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].GameName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].GridTopLeft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].PositionsJson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Config)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].FirstPlayerPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].SecondPlayerPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].ModifiedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GridTopLeft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionsJson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Config.ConfigName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstPlayerPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondPlayerPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
